{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!
{% endblock %}

{% block body %}
	{% if user is not empty %}
		<div class="container mt-5">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card">
						<div class="card-header">
							<h5 class="card-title">{{ user.pseudo }}</h5>
						</div>
						<div class="card-body">
							<ul class="list-group">
								<li class="list-group-item">
									<strong>Email:</strong>
									{{ user.email }}
								</li>
								<li class="list-group-item">
									<strong>Prénom:</strong>
									{{ user.firstname }}
								</li>
								<li class="list-group-item">
									<strong>Nom</strong>
									{{ user.lastname }}
								</li>
								<li class="list-group-item">
									<strong>Wallet:</strong>
									{{ user.wallet }}€
								</li>
							</ul>
						</div>
					</div>
					<div class="d-flex flex-row justify-content-center mt-2 gap-2">
						<a class="btn bg-red-details font-weight-bolder" href="{{ path('app_profile_edit', {'id': user.id}) }}">Modifier le profil</a>
						<a class="btn bg-grey-details font-weight-bolder" href="{{ path('app_profile_depot', {'id': user.id}) }}">Déposer</a>
					</div>
				</div>
			</div>

			<div class="container mt-5">
				<div class="row">
					<div class="col-md-6 offset-md-3">
						<div class="card">
							<div class="card-header">
								<h5 class="card-title">Vos paris en cours</h5>
							</div>
							<div class="card-body">
								<ul class="list-group">
									{% for active_bet in active_bets %}
										<li class="list-group-item mb-1" style="background-color: #f4ae00;box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;color: #252525">
											<div class="d-flex justify-content-between align-items-center">
												<p>Date :
													{{ active_bet.date|date('d-m-y')}}
													à
													{{ active_bet.date|date('H') }}h{{ active_bet.date|date('i') }}</p>
													<span class="badge text-bg-warning">EN COURS</span>
											</div>
											<p>Combat :
												{{ active_bet.duel.fighter1.pseudo}}
												contre
												{{ active_bet.duel.fighter2.pseudo}}</p>
											<p>Votre Bet :
												{{ active_bet.betValue}}€</p>
											<p>Votre combattant :
												{{ active_bet.fighter.pseudo}}</p>
										</li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				</div>

				<div class="container mt-5">
					<div class="row">
						<div class="col-md-6 offset-md-3">
							<div class="card">
								<div class="card-header">
									<h5 class="card-title">Vos paris terminés</h5>
								</div>
								<div class="card-body">
									<ul class="list-group">
										{% for history_bet in history_bets %}
											{% if history_bet.gain > 0 %}
												<li class="list-group-item mb-1" style="background-color: #29b237;box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;color: #252525">
												{% else %}
													<li class="list-group-item mb-1" style="background-color: #d40a00;box-shadow:rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; color: #FAFAFA">
													{% endif %}
													<div class="d-flex justify-content-between align-items-center">
														<p>Date :
															{{ history_bet.date|date('d-m-y')}}
															à
															{{ history_bet.date|date('H') }}h{{ history_bet.date|date('i') }}</p>
														{% if history_bet.gain > 0 %}
															<span class="badge text-bg-success">VICTOIRE</span>
														{% else %}
															<span class="badge text-bg-danger">DEFAITE</span>
														{% endif %}
													</div>

													<p>Combat :
														{{ history_bet.duel.fighter1.pseudo}}
														contre
														{{ history_bet.duel.fighter2.pseudo}}</p>
													<p>Votre Bet :
														{{ history_bet.betValue}}€</p>
													<p>Votre combattant :
														{{ history_bet.fighter.pseudo}}</p>
													<p>Vos gains :
														{{ history_bet.gain}}€</p>
												</li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
						</div>
					{% endif %}

					{# Section de débogage #}
					<div class="debugBox">
						<h2>Debug</h2>
						<pre>{{dump(active_bets)}}</pre>
					</div>
				{% endblock %}
