<header>
	<nav class="navbar navbar-expand-lg bg-red">
		<div class="container-fluid bg-red">
			<a href="{{ path('app_home') }}">
				<img id="logo" src="{{ asset('pictures/logo/logo.png') }}" alt="Logo" class="navbar-brand">
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-column flex-lg-row justify-content-between" id="navbarNav">
				<ul class="navbar-nav flex-column flex-lg-row align-items-lg-center">
					<li class="nav-item">
						<a class="nav-link active text-white font-weight-bolder" aria-current="page" href="{{ path('app_fighter') }}">Combattants</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active text-white font-weight-bolder" aria-current="page" href="{{ path('app_home') }}">Combats</a>
					</li>
					{% if app.user %}
						<li class="nav-item d-lg-none">
							<a class="nav-link active text-white font-weight-bolder" href="{{ path('app_home') }}">Profile</a>
						</li>
						<li class="nav-item d-lg-none">
							<a class="nav-link active text-white font-weight-bolder" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>

					{% else %}
						<li class="nav-item d-lg-none">
							<a class="nav-link active text-white font-weight-bolder" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li class="nav-item d-lg-none">
							<a class="nav-link active text-white font-weight-bolder" href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}


				</ul>
				{% if app.user %}
					<div class="d-none d-lg-flex gap-3">
						<a class="btn bg-white mr-2 font-weight-bolder text-red" href="{{ path('app_home') }}">Profile</a>
						<a class="btn bg-grey-transparency mr-2 font-weight-bolder" href="{{ path('app_logout') }}">Déconnexion</a>
					</div>
				{% else %}
					<div class="d-none d-lg-flex gap-3">
						<a class="btn bg-white mr-2 font-weight-bolder text-red" href="{{ path('app_login') }}">Connexion</a>
						<a class="btn bg-grey-transparency mr-2 font-weight-bolder" href="{{ path('app_register') }}">Inscription</a>
					</div>
				{% endif %}
			</div>
		</div>
	</nav>
</header>
